@{
    ViewData["Title"] = "Admin Page";
    Layout = "_Layout";
}
<br />


  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" value="" placeholder="Email">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input placeholder="Password" type="password" class="form-control" id="inputPassword">
    </div>
  </div>