@{
    ViewData["Title"] = "Add Page";
    Layout = "_Layout";
}
@model AddViewModel
    <div class="box-header position-relative table-header mt-2">
        <div class="d-flex justify-content-between mt-3 com-header">
            <h3>Yangi xizmat qo'shish</h3>
        </div>
    </div>
    <form class="mx-4" asp-controller="home" asp-action="add" enctype="multipart/form-data" method="post">
        <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="partifolioName">Nomi</label>
            <input asp-for="partifolioName" type="text" class="form-control" id="title" placeholder="Portifolio Name">
        </div>
          <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="pratifolioDescription">Davomiyligi</label>
            <input asp-for="pratifolioDescription" type="text" class="form-control" id="title" placeholder="Portifolio Description">
        </div>
        <div class="input-group mx-4 "style="padding: 10px; font-size: 18px;">
            <input type="file" asp-for="imageFileName" accept="image/*" class="form-control" id="inputGroupFile02">
        </div>
        @*Button group*@
        <div class="button-group text-center my-5">
            <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                Saqlash
            </button>
            <a asp-controller="service" asp-action="services">
                <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
            </a>
         </div>
    </form>